In [106]:
sample_list = [(1, 3, 5), (0, 1, 2), (1, 9, 8)]
op = []
for m in range(len(sample_list)):
    li = [sample_list[m]]
    for n in range(len(sample_list)):
        if (sample_list[m][0] == sample_list[n][0] and
                sample_list[m][2] != sample_list[n][2]):
            li.append(sample_list[n])
    op.append(sorted(li, key=lambda dd: dd[2], reverse=True)[0])
res = list(set(op))

In [107]:
print(res)

[(0, 1, 2), (1, 9, 8)]

# Question 0 - Code review warmup [10 points]

**a. describe the task that the code accomplishes**

The code selects tuples that the first element is unique from the sample_list.

When the first element is equal, compare the 3rd element and choose the one with larger element.

**b. write a short code review**

1. It is important to keep an approperiate indent while coding, since the indent caan affect the logical relationship between different commands.

2. The number of tuple index begins from zero, to which we should pay attention when coding.

3. To make the snippet more efficient, we can store the index of tuples that has already occured instead of using the `set` fuction to delete duplicate.

4. Appropriate comments should be added to make the snippet more readable. 

5. We can use letter such as `l` to denotes the code `len(sample_list)`, so that the snippet can be more efficient.

# Question 1 - List of Tuples [20 points]

In [108]:
import numpy as np

In [109]:
def lis_tup(n,k=5,low=1,high=5):
    lis = [tuple(np.random.uniform(low, high) for i in range(k)) for j in range(n)]
    return lis

In [110]:
n=6
k=5
low=1
high=5

ast_lis=lis_tup(n,k,low,high)

# assert the type of the result is list
assert type(ast_lis)==list

# assert the list is composed by tuples
for i in range(len(ast_lis)):
    assert type(ast_lis[i])==tuple

# Question 2 - Refactor the Snippet [40 points]

**a. encapsulate the code snippet from the warmup into a function**

In [111]:
def filter_tuple_a(sample_list, first_cmp, second_cmp):
    
    # make sure first_com and second_com have corresponding elements in the tuples
    assert first_cmp < len(sample_list[0])
    assert second_cmp < len(sample_list[0])
    
    op = []
    
    for m in range(len(sample_list)):
        li = [sample_list[m]]
        for n in range(len(sample_list)):
            if (sample_list[m][first_cmp] == sample_list[n][first_cmp] and
                sample_list[m][second_cmp] != sample_list[n][second_cmp]):
                li.append(sample_list[n])
                
        op.append(sorted(li, key=lambda dd: dd[second_cmp], reverse=True)[0])
        
    res = list(set(op))
    return res

**b. write an improved version of the function**

In [112]:
def filter_tuple_b(sample_list, first_cmp, second_cmp):
    
    # make sure first_com and second_com have corresponding elements in the tuples
    assert first_cmp < len(sample_list[0])
    assert second_cmp < len(sample_list[0])
    
    op = []
    appeared_idx = []
    l = len(sample_list)
    
    for m in range(l):
        
        # filter the tuples that have already appeared
        if m in appeared_idx:
            continue
            
        li = [sample_list[m]]
        
        for n in range(l):
            if (sample_list[m][first_cmp] == sample_list[n][first_cmp] and
                sample_list[m][second_cmp] != sample_list[n][second_cmp]):

                appeared_idx.append(n)
                li.append(sample_list[n])
                
        op.append(sorted(li, key=lambda dd: dd[second_cmp], reverse=True)[0])
        
    res = op
    return res

**c. Write a function from scratch to accomplish the same task as the previous two parts. Your solution should traverse the input list of tuples no more than twice.**

In [113]:
def filter_tuple_c(sample_list, first_cmp, second_cmp):
    
    # make sure first_com and second_com have corresponding elements in the tuples
    assert first_cmp < len(sample_list[0])
    assert second_cmp < len(sample_list[0])
    
    dic_tup = {}
    
    for tup in sample_list:
        dic_add = {}
        tup_add = True
        
        for key, value in dic_tup.items():
            if key[first_cmp] == tup[first_cmp] and key[second_cmp] != tup[second_cmp]:
                dic_tup[key].append(tup)
                tup_add = False
        
        if tup_add:
            dic_add[tup] = [tup]
        
        dic_tup = {**dic_add, **dic_tup}        
                
    res = set()
    for value in dic_tup.values():
        tup = sorted(value, key=lambda dd: dd[second_cmp], reverse=True)[0] 
        res.add(tup)
        
    res = list(res)
    return res

**d. Use the function you wrote in question 1 to generate a list of tuples as input(s), run and summarize a small Monte Carlo study comparing the execution times of the three functions above (a-c).**

In [114]:
import time
import random

In [115]:
n = 1000
k = 100
low = 0
high = 10000

sample_list = lis_tup(n, k, low, high)

first_cmp=20
second_cmp=80

dic_time={}

start_a=time.time()
filter_tuple_a(sample_list, first_cmp, second_cmp)
end_a=time.time()
dic_time['a'] = end_a - start_a

start_b=time.time()
filter_tuple_b(sample_list, first_cmp, second_cmp)
end_b=time.time()
dic_time['b'] = end_b - start_b

start_c=time.time()
filter_tuple_c(sample_list, first_cmp, second_cmp)
end_c=time.time()
dic_time['c'] = end_c - start_c

print (dic_time)

{'a': 0.058450937271118164, 'b': 0.05696511268615723, 'c': 0.029476165771484375}

In [116]:
#change the value of n

k = 100
low = 0
high = 10000

for i in range(10):
    n = int(random.uniform(1000,10000))
    sample_list = lis_tup(n, k, low, high)
    first_cmp=20
    second_cmp=80
    
    dic_time={}
    start_a=time.time()
    filter_tuple_a(sample_list, first_cmp, second_cmp)
    end_a=time.time()
    dic_time['a'] = end_a - start_a

    start_b=time.time()
    filter_tuple_b(sample_list, first_cmp, second_cmp)
    end_b=time.time()
    dic_time['b'] = end_b - start_b

    start_c=time.time()
    filter_tuple_c(sample_list, first_cmp, second_cmp)
    end_c=time.time()
    dic_time['c'] = end_c - start_c

    print ('n =', n ,dic_time)

n = 9438 {'a': 5.840948820114136, 'b': 5.985069751739502, 'c': 2.7341392040252686}
n = 1316 {'a': 0.10268020629882812, 'b': 0.10136914253234863, 'c': 0.05102992057800293}
n = 3601 {'a': 0.7503077983856201, 'b': 0.7383172512054443, 'c': 0.3726468086242676}
n = 8938 {'a': 5.259960889816284, 'b': 5.434670925140381, 'c': 2.436269760131836}
n = 4602 {'a': 1.2742691040039062, 'b': 1.267091989517212, 'c': 0.6174421310424805}
n = 4758 {'a': 1.3541769981384277, 'b': 1.3458051681518555, 'c': 0.6589140892028809}
n = 7567 {'a': 3.468458890914917, 'b': 3.4456307888031006, 'c': 1.6771690845489502}
n = 9381 {'a': 6.09217381477356, 'b': 5.7980310916900635, 'c': 2.6384458541870117}
n = 5811 {'a': 2.004854917526245, 'b': 1.9901459217071533, 'c': 0.9884228706359863}
n = 7109 {'a': 3.0337941646575928, 'b': 2.9936580657958984, 'c': 1.50691819190979}

In [117]:
#change the value of k

n=1000
low = 0
high = 10000

for i in range(10):
    k = int(random.uniform(100,1000))
    sample_list = lis_tup(n, k, low, high)
    first_cmp=20
    second_cmp=80
    
    dic_time={}
    start_a=time.time()
    filter_tuple_a(sample_list, first_cmp, second_cmp)
    end_a=time.time()
    dic_time['a'] = end_a - start_a

    start_b=time.time()
    filter_tuple_b(sample_list, first_cmp, second_cmp)
    end_b=time.time()
    dic_time['b'] = end_b - start_b

    start_c=time.time()
    filter_tuple_c(sample_list, first_cmp, second_cmp)
    end_c=time.time()
    dic_time['c'] = end_c - start_c

    print ('k =', k, dic_time)

k = 905 {'a': 0.06366086006164551, 'b': 0.05799388885498047, 'c': 0.03896212577819824}
k = 713 {'a': 0.06366991996765137, 'b': 0.05911087989807129, 'c': 0.03723001480102539}
k = 877 {'a': 0.0647287368774414, 'b': 0.05855393409729004, 'c': 0.03968310356140137}
k = 164 {'a': 0.05972909927368164, 'b': 0.057990074157714844, 'c': 0.030751943588256836}
k = 584 {'a': 0.06340193748474121, 'b': 0.059126853942871094, 'c': 0.03595995903015137}
k = 416 {'a': 0.06201910972595215, 'b': 0.05912303924560547, 'c': 0.034750938415527344}
k = 538 {'a': 0.06206393241882324, 'b': 0.05784177780151367, 'c': 0.03531002998352051}
k = 296 {'a': 0.06004929542541504, 'b': 0.05782294273376465, 'c': 0.03232693672180176}
k = 740 {'a': 0.0632939338684082, 'b': 0.05847883224487305, 'c': 0.03759312629699707}
k = 692 {'a': 0.0638120174407959, 'b': 0.0596158504486084, 'c': 0.03708004951477051}

In [118]:
#change the value of low

n=1000
k=100
high = 10000

for i in range(10):
    low = int(random.uniform(0,1000))
    sample_list = lis_tup(n, k, low, high)
    first_cmp=20
    second_cmp=80
    
    dic_time={}
    start_a=time.time()
    filter_tuple_a(sample_list, first_cmp, second_cmp)
    end_a=time.time()
    dic_time['a'] = end_a - start_a

    start_b=time.time()
    filter_tuple_b(sample_list, first_cmp, second_cmp)
    end_b=time.time()
    dic_time['b'] = end_b - start_b

    start_c=time.time()
    filter_tuple_c(sample_list, first_cmp, second_cmp)
    end_c=time.time()
    dic_time['c'] = end_c - start_c

    print ('low =', low, dic_time)

low = 528 {'a': 0.06016898155212402, 'b': 0.058801889419555664, 'c': 0.030050992965698242}
low = 232 {'a': 0.05928397178649902, 'b': 0.05861401557922363, 'c': 0.029837846755981445}
low = 805 {'a': 0.05878496170043945, 'b': 0.058342933654785156, 'c': 0.029676198959350586}
low = 570 {'a': 0.058966875076293945, 'b': 0.057994842529296875, 'c': 0.029675960540771484}
low = 612 {'a': 0.05972409248352051, 'b': 0.058348894119262695, 'c': 0.030428171157836914}
low = 989 {'a': 0.06330299377441406, 'b': 0.06014394760131836, 'c': 0.03131413459777832}
low = 835 {'a': 0.05904984474182129, 'b': 0.058243751525878906, 'c': 0.030218124389648438}
low = 385 {'a': 0.06399679183959961, 'b': 0.06223011016845703, 'c': 0.03027200698852539}
low = 237 {'a': 0.05863213539123535, 'b': 0.058023929595947266, 'c': 0.02996993064880371}
low = 481 {'a': 0.05891084671020508, 'b': 0.057859182357788086, 'c': 0.029750823974609375}

In [119]:
#change the value of high

n=1000
k=100
low = 0

for i in range(10):
    high = int(random.uniform(10000,100000))
    sample_list = lis_tup(n, k, low, high)
    first_cmp=20
    second_cmp=80
    
    dic_time={}
    start_a=time.time()
    filter_tuple_a(sample_list, first_cmp, second_cmp)
    end_a=time.time()
    dic_time['a'] = end_a - start_a

    start_b=time.time()
    filter_tuple_b(sample_list, first_cmp, second_cmp)
    end_b=time.time()
    dic_time['b'] = end_b - start_b

    start_c=time.time()
    filter_tuple_c(sample_list, first_cmp, second_cmp)
    end_c=time.time()
    dic_time['c'] = end_c - start_c

    print ('high =', high, dic_time)

high = 59663 {'a': 0.058416128158569336, 'b': 0.05777120590209961, 'c': 0.029796838760375977}
high = 81721 {'a': 0.05903911590576172, 'b': 0.0577239990234375, 'c': 0.029843807220458984}
high = 59103 {'a': 0.05876016616821289, 'b': 0.06067681312561035, 'c': 0.03239297866821289}
high = 75033 {'a': 0.059355974197387695, 'b': 0.05841183662414551, 'c': 0.030189037322998047}
high = 80235 {'a': 0.05856204032897949, 'b': 0.058254241943359375, 'c': 0.030464887619018555}
high = 25798 {'a': 0.0603177547454834, 'b': 0.05875802040100098, 'c': 0.030740976333618164}
high = 93346 {'a': 0.05946803092956543, 'b': 0.058776140213012695, 'c': 0.030546188354492188}
high = 34982 {'a': 0.060189247131347656, 'b': 0.05955100059509277, 'c': 0.031033992767333984}
high = 14479 {'a': 0.05974006652832031, 'b': 0.058969974517822266, 'c': 0.030548095703125}
high = 51997 {'a': 0.060140132904052734, 'b': 0.059590816497802734, 'c': 0.030652999877929688}

# Question 3 - [30 points]

In [120]:
import pandas as pd
import pickle

**a. read and append the demographic datasets**

In [121]:
url1 = 'https://wwwn.cdc.gov/Nchs/Nhanes/2011-2012/DEMO_G.XPT'
url2 = 'https://wwwn.cdc.gov/Nchs/Nhanes/2013-2014/DEMO_H.XPT'
url3 = 'https://wwwn.cdc.gov/Nchs/Nhanes/2015-2016/DEMO_I.XPT'
url4 = 'https://wwwn.cdc.gov/Nchs/Nhanes/2017-2018/DEMO_J.XPT'

df11_12 = pd.read_sas(url1)
df11_12 = df11_12[['SEQN', 'RIDAGEYR', 'RIDRETH3', 'DMDEDUC2', 'DMDMARTL', 'RIDSTATR', 'SDMVPSU', 'SDMVSTRA', 'WTMEC2YR', 'WTINT2YR']]
df11_12['year'] = ['2011-2012' for i in range(len(df11_12))]

df13_14 = pd.read_sas(url2)
df13_14 = df13_14[['SEQN', 'RIDAGEYR', 'RIDRETH3', 'DMDEDUC2', 'DMDMARTL', 'RIDSTATR', 'SDMVPSU', 'SDMVSTRA', 'WTMEC2YR', 'WTINT2YR']]
df13_14['year'] = ['2013-2014' for i in range(len(df13_14))]

df15_16 = pd.read_sas(url3)
df15_16 = df15_16[['SEQN', 'RIDAGEYR', 'RIDRETH3', 'DMDEDUC2', 'DMDMARTL', 'RIDSTATR', 'SDMVPSU', 'SDMVSTRA', 'WTMEC2YR', 'WTINT2YR']]
df15_16['year'] = ['2015-2016' for i in range(len(df15_16))]

df17_18 = pd.read_sas(url4)
df17_18 = df17_18[['SEQN', 'RIDAGEYR', 'RIDRETH3', 'DMDEDUC2', 'DMDMARTL', 'RIDSTATR', 'SDMVPSU', 'SDMVSTRA', 'WTMEC2YR', 'WTINT2YR']]
df17_18['year'] = ['2017-2018' for i in range(len(df17_18))]

df = pd.concat([df11_12, df13_14, df15_16, df17_18], axis=0)

df['SEQN'] = df['SEQN'].astype('int')
df['RIDAGEYR'] = df['RIDAGEYR'].astype('int')
df['RIDRETH3'] = df['RIDRETH3'].astype('int')
df['RIDSTATR'] = df['RIDSTATR'].astype('int')

df = df.rename(columns={'SEQN': 'Respondent sequence number',
                   'RIDAGEYR': 'Age in years of the participant at the time of screening.', 
                   'RIDRETH3': 'Recode of reported race and Hispanic origin information, with Non-Hispanic Asian Category',
                   'DMDEDUC2': 'What is the highest grade or level of school {you have/SP has} completed or the highest degree {you have/s/he has} received?',
                   'DMDMARTL': 'Marital status',
                   'RIDSTATR': 'Interview and examination status of the participant.',
                   'SDMVPSU': 'Masked variance unit pseudo-PSU variable for variance estimation',
                   'SDMVSTRA': 'Masked variance unit pseudo-stratum variable for variance estimation',
                   'WTMEC2YR': 'Both interviewed and MEC examined participants.',
                   'WTINT2YR': 'Interviewed participants.'})


f = open('NHANS.pkl', 'wb')

pickle.dump(df, f, -1)

In [122]:
print(df)

      Respondent sequence number  \
0                          62161
1                          62162
2                          62163
3                          62164
4                          62165
...                          ...
9249                      102952
9250                      102953
9251                      102954
9252                      102955
9253                      102956

      Age in years of the participant at the time of screening.  \
0                                                    22
1                                                     3
2                                                    14
3                                                    44
4                                                    14
...                                                 ...
9249                                                 70
9250                                                 42
9251                                                 41
9252                                                 14
9253                                                 38

      Recode of reported race and Hispanic origin information, with Non-Hispanic Asian Category  \
0                                                     3
1                                                     1
2                                                     6
3                                                     3
4                                                     4
...                                                 ...
9249                                                  6
9250                                                  1
9251                                                  4
9252                                                  4
9253                                                  3

      What is the highest grade or level of school {you have/SP has} completed or the highest degree {you have/s/he has} received?  \
0                                                   3.0
1                                                   NaN
2                                                   NaN
3                                                   4.0
4                                                   NaN
...                                                 ...
9249                                                3.0
9250                                                3.0
9251                                                5.0
9252                                                NaN
9253                                                4.0

      Marital status  Interview and examination status of the participant.  \
0                5.0                                                  2
1                NaN                                                  2
2                NaN                                                  2
3                1.0                                                  2
4                NaN                                                  2
...              ...                                                ...
9249             1.0                                                  2
9250             4.0                                                  2
9251             5.0                                                  2
9252             NaN                                                  2
9253             3.0                                                  2

      Masked variance unit pseudo-PSU variable for variance estimation  \
0                                                   1.0
1                                                   3.0
2                                                   3.0
3                                                   1.0
4                                                   2.0
...                                                 ...
9249                                                2.0
9250                                                2.0
9251                                                1.0
9252                                                1.0
9253                                                1.0

      Masked variance unit pseudo-stratum variable for variance estimation  \
0                                                  91.0
1                                                  92.0
2                                                  90.0
3                                                  94.0
4                                                  90.0
...                                                 ...
9249                                              138.0
9250                                              137.0
9251                                              144.0
9252                                              136.0
9253                                              142.0

      Both interviewed and MEC examined participants.  \
0                                       104236.582554
1                                        16116.354010
2                                         7869.485117
3                                       127965.226204
4                                        13384.042162
...                                               ...
9249                                     18338.711104
9250                                     63661.951573
9251                                     17694.783346
9252                                     14871.839636
9253                                     39426.299948

      Interviewed participants.       year
0                 102641.406474  2011-2012
1                  15457.736897  2011-2012
2                   7397.684828  2011-2012
3                 127351.373299  2011-2012
4                  12209.744980  2011-2012
...                         ...        ...
9249               16896.276203  2017-2018
9250               61630.380013  2017-2018
9251               17160.895269  2017-2018
9252               14238.445922  2017-2018
9253               38645.740291  2017-2018

[39156 rows x 11 columns]

**b. read and append the oral health and dentition dataset**

In [123]:
url5 = 'https://wwwn.cdc.gov/Nchs/Nhanes/2011-2012/OHXDEN_G.XPT'
url6 = 'https://wwwn.cdc.gov/Nchs/Nhanes/2013-2014/OHXDEN_H.XPT'
url7 = 'https://wwwn.cdc.gov/Nchs/Nhanes/2015-2016/OHXDEN_I.XPT'
url8 = 'https://wwwn.cdc.gov/Nchs/Nhanes/2017-2018/OHXDEN_J.XPT'

required_columns = ['SEQN', 'OHDDESTS']

df17_18_od = pd.read_sas(url8)
for col in df17_18_od.columns:
    if col.startswith('OHX'):
        if (col.lstrip('OHX').rstrip('TC')).isdigit():
            required_columns.append(col)
        elif (col.lstrip('OHX').rstrip('CTC')).isdigit():
            required_columns.append(col)
df17_18_od = df17_18_od[required_columns]
df17_18_od['year'] = ['2017-2018' for i in range(len(df17_18_od))]

df11_12_od = pd.read_sas(url5)
df11_12_od = df11_12_od[required_columns]
df11_12_od['year'] = ['2011-2012' for i in range(len(df11_12_od))]


df13_14_od = pd.read_sas(url6)
df13_14_od = df13_14_od[required_columns]
df13_14_od['year'] = ['2013-2014' for i in range(len(df13_14_od))]


df15_16_od = pd.read_sas(url7)
df15_16_od = df15_16_od[required_columns]
df15_16_od['year'] = ['2015-2016' for i in range(len(df15_16_od))]

df_od = pd.concat([df11_12_od, df13_14_od, df15_16_od, df17_18_od], axis=0, sort=False)

df_od['SEQN'] = df_od['SEQN'].astype('int')
df_od['OHDDESTS'] = df_od['OHDDESTS'].astype('int')

df_od = df_od.rename(columns={'SEQN': 'Respondent sequence number',
                        'OHDDESTS': 'Dentition Status Code'})

f = open('OHXDEN.pkl', 'wb')

pickle.dump(df_od, f, -1)

/opt/homebrew/lib/python3.9/site-packages/pandas/io/sas/sas_xport.py:475: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  df[x] = v

In [124]:
print(df_od)

      Respondent sequence number  Dentition Status Code  OHX01TC  OHX02TC  \
0                          62161                      1      4.0      2.0
1                          62162                      1      4.0      4.0
2                          62163                      1      4.0      2.0
3                          62164                      1      4.0      2.0
4                          62165                      1      4.0      2.0
...                          ...                    ...      ...      ...
8361                      102952                      1      2.0      2.0
8362                      102953                      1      2.0      2.0
8363                      102954                      1      2.0      2.0
8364                      102955                      1      4.0      2.0
8365                      102956                      1      4.0      4.0

      OHX03TC  OHX04TC  OHX05TC  OHX06TC  OHX07TC  OHX08TC  ...  OHX23CTC  \
0         2.0      2.0      2.0      2.0      2.0      2.0  ...      b'S'
1         4.0      1.0      1.0      1.0      1.0      1.0  ...      b'D'
2         2.0      2.0      2.0      2.0      2.0      2.0  ...      b'S'
3         2.0      2.0      2.0      2.0      2.0      2.0  ...      b'S'
4         2.0      2.0      2.0      2.0      2.0      2.0  ...      b'S'
...       ...      ...      ...      ...      ...      ...  ...       ...
8361      2.0      2.0      2.0      2.0      2.0      2.0  ...      b'S'
8362      2.0      2.0      2.0      2.0      2.0      2.0  ...      b'S'
8363      2.0      2.0      2.0      2.0      2.0      2.0  ...      b'S'
8364      2.0      2.0      2.0      2.0      2.0      2.0  ...      b'S'
8365      2.0      2.0      2.0      2.0      2.0      2.0  ...      b'S'

      OHX24CTC  OHX25CTC  OHX26CTC  OHX27CTC  OHX28CTC  OHX29CTC  OHX30CTC  \
0         b'S'      b'S'      b'S'      b'S'      b'S'      b'S'      b'Z'
1         b'D'      b'D'      b'D'      b'D'      b'D'      b'D'      b'U'
2         b'S'      b'S'      b'S'      b'S'      b'S'      b'S'      b'Y'
3         b'S'      b'S'      b'S'      b'S'      b'S'      b'S'      b'Z'
4         b'S'      b'S'      b'S'      b'S'      b'S'      b'S'      b'S'
...        ...       ...       ...       ...       ...       ...       ...
8361      b'S'      b'S'      b'S'      b'S'      b'S'      b'S'      b'S'
8362      b'S'      b'S'      b'S'      b'S'      b'S'      b'S'      b'S'
8363      b'S'      b'S'      b'S'      b'S'      b'S'      b'F'      b'S'
8364      b'S'      b'S'      b'S'      b'S'      b'S'      b'S'      b'S'
8365      b'S'      b'S'      b'S'      b'S'      b'S'      b'S'      b'S'

      OHX31CTC       year
0         b'S'  2011-2012
1         b'U'  2011-2012
2         b'S'  2011-2012
3         b'Z'  2011-2012
4         b'S'  2011-2012
...        ...        ...
8361      b'S'  2017-2018
8362      b'Z'  2017-2018
8363      b'S'  2017-2018
8364      b'Z'  2017-2018
8365      b'E'  2017-2018

[35909 rows x 63 columns]

**c. report the number of cases**

In [125]:
df.shape[0], df_od.shape[0]

(39156, 35909)